<section class="accessories">
    <div class="container">
         
        <ul class="tabs-items">
            <li>
                <button class="btn-tabs" type="button">All</button>
            </li>
            <li>
                <button class="btn-tabs" type="button">Headsets</button>
            </li>
            <li>
                <button class="btn-tabs" type="button">Keyboards</button>
            </li>
            <li>
                <button class="btn-tabs" type="button">Mouses</button>
            </li>
        </ul>

        <h1 class="accessories-heading">All accessories</h1>
        
        <div class="tabs-block">
            <ul class="accessories-item">
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-1.jpg 1x,
                            ./images-accessories/headphones-1-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-1.jpg" alt="Xiberia K9 PRO PC Headset" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Xiberia K9 PRO PC Headset</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">65.14 USD</s>
                        <h3 class="new-price">55.14 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-2.jpg 1x,
                            ./images-accessories/headphones-2-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-2.jpg" alt="G95 Light Surround Gaming Headset" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">G95 Light Surround Gaming Headset</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">72.78 USD</s>
                        <h3 class="new-price">51.78 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/mouse-1.jpg 1x,
                            ./images-accessories/mouse-1-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/mouse-1.jpg" alt="Malloom 1200 DPI 2.4Ghz Wireless Mouse" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">44.24 USD</s>
                        <h3 class="new-price">29.93 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/keyboard-1.jpg 1x,
                            ./images-accessories/keyboard-1-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/keyboard-1.jpg" alt="Steampunk Anti-Ghosting Mechanical Keyboard" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Steampunk Anti-Ghosting Mechanical Keyboard</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">160.00 USD</s>
                        <h3 class="new-price">110.00 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-3.jpg 1x,
                            ./images-accessories/headphones-3-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-3.jpg" alt="Xiberia K9 PRO PC Headset" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Xiberia K9 PRO PC Headset</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">156.00 USD</s>
                        <h3 class="new-price">116.00 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/keyboard-2.jpg 1x,
                            ./images-accessories/keyboard-2-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/keyboard-2.jpg" alt="RGB LED Backlit Mechanical Keyboard" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">RGB LED Backlit Mechanical Keyboard</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">156.00 USD</s>
                        <h3 class="new-price">116.00 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/mouse-2.jpg 1x,
                            ./images-accessories/mouse-2-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/mouse-2.jpg" alt="DARSHION 3200 DPI MZ-17 Gaming Mouse" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">DARSHION 3200 DPI MZ-17 Gaming Mouse</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">48.00 USD</s>
                        <h3 class="new-price">32.00 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/keyboard-3.jpg 1x,
                            ./images-accessories/keyboard-3-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/keyboard-3.jpg" alt="K569 RGB LED Backlit Mechanical Keyboard" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">K569 RGB LED Backlit Mechanical Keyboard</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">156.98 USD</s>
                        <h3 class="new-price">112.16 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/keyboard-4.jpg 1x,
                            ./images-accessories/keyboard-4-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/keyboard-4.jpg" alt="Steampunk Anti-Ghosting Mechanical Keyboard" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Steampunk Anti-Ghosting Mechanical Keyboard</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">82.40 USD</s>
                        <h3 class="new-price">62.40 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-4.jpg 1x,
                            ./images-accessories/headphones-4-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-4.jpg" alt="Wired Gaming Headphones For PS4" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Wired Gaming Headphones For PS4</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">72.65 USD</s>
                        <h3 class="new-price">47.55 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-5.jpg 1x,
                            ./images-accessories/headphones-5-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-5.jpg" alt="HAVIT USB 3.5mm Gaming Headset" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">HAVIT USB 3.5mm Gaming Headset</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">65.14 USD</s>
                        <h3 class="new-price">53.98 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-6.jpg 1x,
                            ./images-accessories/headphones-6-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-6.jpg" alt="Somic G936N PS4 Gaming Headset" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">Somic G936N PS4 Gaming Headset</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">102.00 USD</s>
                        <h3 class="new-price">66.78 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/mouse-3.jpg 1x,
                            ./images-accessories/mouse-3-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/mouse-3.jpg" alt="AULA SI9006 Gaming Mouse" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">AULA SI9006 Gaming Mouse</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">89.13 USD</s>
                        <h3 class="new-price">64.13 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/mouse-4.jpg 1x,
                            ./images-accessories/mouse-4-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/mouse-4.jpg" alt="HXSJ A903 3200 DPI USB Wired Gaming Mouse" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">HXSJ A903 3200 DPI USB Wired Gaming Mouse</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">50.49 USD</s>
                        <h3 class="new-price">32.49 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/headphones-7.jpg 1x,
                            ./images-accessories/headphones-7-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/headphones-7.jpg" alt="G95 Light Surround Gaming Headset" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">G95 Light Surround Gaming Headset</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">78.98 USD</s>
                        <h3 class="new-price">50.98 USD</h3>
                    </div>
                </li>
                <li>
                    <div class="accessories-box-item">
                        <picture>
                            <source
                            srcset="./images-accessories/keyboard-5.jpg 1x,
                            ./images-accessories/keyboard-5-2x.jpg 2x"
                            media="(min-width: 768px)"/>

                            <img src="./images-accessories/keyboard-5.jpg" alt="YMDK Double Shot 104 Keyboard" width="285" height="276">
                        </picture>
                        <p class="accessories-cover-text">100% Brand new and high quality!

                            Ergonomic in design makes it more adjustable to use.
                            
                            More fashionable for your daily use, such as playing games.
                            
                            Built-in high sensitivity and noise reduction microphone.

                            It is not easy to break or deform, and wear comfortable, no pressure.
                        </p>
                        <p class="name-product">YMDK Double Shot 104 Keyboard</p>
                    </div>
                    <div class="wrapper2">
                        <s class="old-price">71.77 USD</s>
                        <h3 class="new-price">46.77 USD</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
